*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
}




#app{
    width: 60%;
    height: 500px;
    margin: 3px auto;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: #F5F5F5;
    @media screen and(max-width:1520px){
        width: 90%;
    }
}