
// th width common
$trwitdh:100%;



// span (not vip) common
%notvipspan{
    width: 18px;
    height: 5px;
    background-color: red;
    border-radius: 2px;
}


.Product_info_container{
    width: 95%; 
    margin: 0px auto;
    >h2{
        margin: 15px 0px;
    }
    >.product_table{
        width: 100%;
        border: 2px solid gray;
        border-radius: 5px;
        >thead{
            >tr{
                width: $trwitdh;
                height: 35px;
                >th{
                    width: $trwitdh / 5;
                    background: grey;
                    border: 1px solid black;
                }
            }
        }
        >tbody{
            >tr{
                width: $trwitdh;
                height: 25px;
                >th{
                    width: $trwitdh / 5;
                    >.isvip{
                        display: inline-block;
                        width: 12px;
                        height: 5px;
                        background-color: green;
                        transform: rotate(45deg);
                        border-radius: 2px;
                        margin-right: 8px;
                        &::before{
                            content: '';
                            display: block;
                            width: 20px;
                            height: 5px;
                            position: absolute;
                            background-color: green;
                            border-radius: 2px;
                            transform: rotate(90deg);
                            right: -8px;
                            top: -8px;
                        }
                    }
                    >.notvip{
                        @extend %notvipspan;
                        display: inline-block;
                        transform: rotate(45deg);
                        &::before{
                            @extend %notvipspan;
                            content: '';
                            display: block;
                            transform: rotate(90deg);
                        }
                    }
                }
                &:nth-child(odd){
                    background: lightgray;
                }
            }
        }
    }
}


